---
import Social from "./Social.astro";
const platform = "github";
const username = "GabrielHangor";
const currentDate = new Date().getFullYear();
---

<footer>
    <div class="container">
    <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>

    <nav>
        <ul>
            <li><strong>Social</strong></li>
        </ul>
        <ul>
            <li>
                <Social platform="twitter" username="astrodotbuild"/>
            </li>
            <li>
                <Social platform="github" username="withastro"/>
            </li>
            <li>
                <Social platform="youtube" username="astrodotbuild"/>
            </li>
        </ul>


    </nav>

    <p>GabrielHangor &copy; {currentDate}</p>
    </div>
</footer>
<style>
    footer {
        background-color: #f6ddd5;
        padding: 0;
    }
</style>