---
---
<nav>
    <ul class="nav-links">
        <li>
            <a href="/">Home</a>
        </li>
        <li><a href="/about/">About</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/tags/">Post by tag</a></li>
    </ul>
</nav>
